* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top right, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 90%;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    border: none;
    outline: none;
    padding: 12px 20px;
    flex: 1;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search input:focus {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search button {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.weather img {
    width: 150px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.weather img:hover {
    transform: scale(1.1);
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
    animation: slideIn 1s ease-out 0.5s;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col i {
    font-size: 30px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.col i:hover {
    color: #ff6347;
}

.humidity, .wind {
    font-size: 20px;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
